{% extends 'base.html.twig' %}

{% block body %}
	<h1>get all users</h1>

	{% for user in users %}
	<ul>
		<li>
			<a href="{{ path('users_remove', {'id': user.id}) }}">
		        usuń
		    </a>
		</li>
		<li>{{ user.username|e }}</li>
		<li>{{ user.email|e }}</li>
		<li>{{ user.enabled|e }}</li>
		<li>{{ user.verifed|e }}</li>
			{% for role in user.roles %}
				<li>{{ role|e }}</li>
			{% endfor %}
		<li>
			<a href="{{ path('users_edit', {'id': user.id}) }}">
		        edytuj
		    </a>
		</li>
	</ul>
	{% endfor %}
{% endblock %}